:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: system-ui;
  background: #ffffff;
  /* text-align: center; */
}

/* .headerOuterContainer {
  display: flex;
  justify-content: space-between;
} */

#headerInnerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 50px;
  /* border: solid grey 1px; */
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.navBar {
  display: flex;
  margin-right: 3rem;
  list-style: none;
  align-items: center;
}

.navBar a {
  text-decoration: none;
}

.navItem {
  background-color: grey;
  color: white;
  border: solid white 4px;
  border-radius: 5px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: Verdana;
  font-size: 12px;
}

.toggle {
  display: none;
}

#styleBurger {
  /* default display is none - changes on click */
  display: none;
  position: fixed;
  top: 0;
}

.bm-menu-wrap {
  position: fixed;
  right: 0px;
  z-index: 1100;
  width: 200px;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.bm-menu {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background: rgb(48, 48, 48);
  font-size: 1em;
}

.bm-item-list {
  height: 100%;
  color: rgb(184, 183, 173);
  padding: 0.8em;
}

.nav-linkHamburger {
  margin-top: 20px;
}

.bm-item {
  display: inline-block;
}

#bm-cross-button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 8px;
}
#bm-cross-button .bm-cross-span {
  position: absolute;
  top: 6px;
  right: 14px;
}

#bm-cross-button .bm-cross-span .bm-cross{
  position: absolute;
  width: 3px;
  height: 14px;
  background: rgb(189, 195, 199);
}
#bm-cross-button .bm-cross-span .bm-cross:nth-child(1) {
  transform: rotate(45deg);
}
#bm-cross-button .bm-cross-span .bm-cross:nth-child(2) {
  transform: rotate(-45deg);
}

#bm-cross-button button{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 0px;
  background: transparent;
  cursor: pointer;
}

.nav-linkHamburger a {
  color: #ffffff;
}


.titleBackgroundContainer {
  width: 100%;
}

.titleBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 550px;
  background-size: 100% 100%;
  background-image: url("https://i.ibb.co/1XRRfPY/univ.png");
  /* border: solid green 2px; */
}

.titleBodyContainer {
  margin-bottom: -2rem;
  /* border: solid blue 2px; */
}

.titleBodyHeadline {
  color: rgb(167, 2, 2);
  font-size: 60px;
  font-family: cursive;
  font-weight: bold;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.toolsOuterContainer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    padding-bottom: 2rem;
}

.toolsInnerContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  /* border: solid red 2px; */
}


.toolsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 5rem;
  /* border-right: solid grey 1px; */
}

.icon {
  height: 50px;
  width: 50px;
}

.toolsTitle {
  font-weight: bold;
  font-size: 18px;
}

.toolsTextContainer {
  display: flex;
  justify-content: center;
}

.toolsText {
  font-size: 10px;
   width: 200px;
   text-align: center;
   display: flex;
   justify-content: center;
 }

 .buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonBox {
  display: flex;
  justify-content: center;
  width: 140px;
  margin-top: 20px;
}

.button {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  width: 80%;
  font-size: 13px;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
  padding: 4px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button.red:hover {
  background-color: rgb(220, 121, 118);
}

.button.red:active {
  background-color: rgb(177, 79, 76);
}

.button.blue:hover {
  background-color: rgb(118, 181, 240);
}

.button.blue:active {
  background-color: rgb(57, 133, 205);
}

.button.green:hover {
  background-color: rgb(105, 180, 172);
}

.button.green:active {
  background-color: rgb(48, 148, 138);
}

.button.orange:hover {
  background-color: rgb(241, 143, 109);
}

.button.orange:active {
  background-color: rgb(186, 79, 43);
}

.button:hover {
  background-color: rgb(79, 134, 252);
}

.button:active {
  background-color: rgb(47, 96, 201);
}

.chartOuterContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.chartInnerContainer {
  display: flex;
  align-items: center;
  border-top: solid grey 1px;
  padding-top: 10px;
}

.chartTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.chartParagraph {
  color: grey;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

#chartData {
  display: flex;
  flex: 2;
}


.chart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 5px;
  border-left: solid grey 2px;
  border-bottom: solid grey 2px;
  position: relative;
  width: 100%;
}

.chart li {
  list-style: none;
}

.tick {
  border-left: 2px solid black;
  position: absolute;
  height: 18px; top: 340px;
}


.tick:nth-child(1)  { left: -2px;  }
.tick:nth-child(2)  { left: 98px;  }
.tick:nth-child(3)  { left: 198px; }
.tick:nth-child(4)  { left: 298px; }
.tick:nth-child(5)  { left: 398px; }
.tick:nth-child(6)  { left: 498px; }
.tick:nth-child(7)  { left: 598px; }
.tick:nth-child(8)  { left: 698px; }
.tick:nth-child(9)  { left: 798px; }
.tick:nth-child(10) { left: 898px; }
.tick > span {
  position: relative;
  width: 10px; left: -5px; top: 26px;
  font: 1em Arial, Helvetica, sans-serif;
}
.tick:nth-child(3n+1) > span { left: -6px; font-weight: bold; }

.chart-box {
  padding: 20px 0;
  padding-left: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

@media only screen and (max-width: 1000px) {

  #headerInnerContainer {
    display: none;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    
  }
  .navBar {
    display: none;
  }
  
  .headerOuterContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .mobileNavBar {
    display: flex;
    background-color: grey;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
}



@media only screen and (min-width: 1001px) {

  /* #styleBurger {
    display: none;
  } */

  /* .toolsOuterContainer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    padding-bottom: 2rem;
}

.toolsInnerContainer {
  display: flex;
} */

}